{
    "{{ vm_name }}": {
        "interface": "virbr0",
        "private_ip": "192.168.1.122",
        "port_map": {
            "tcp": [
              80,
              443
            ],
            "udp": [
              80
            ]
        },
        "port_range": [
            {
                "init_port": 1000,
                "ports_num": 64535,
                "protocol": "tcp"
            },
            {
                "init_port": 1000,
                "ports_num": 64535,
                "protocol": "udp"
            }
        ]
    }
}
